@import '../../../css/App.scss';

.product_tab {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 40px;
  button {
    font: {
      size: 16px;
      weight: 400;
    }
    color: $cg-700;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px 16px;
  }
  list-style: none;
}
.product_not_exist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  height: 400px;
  h2 {
    font: {
      size: 24px;
      weight: 700;
    }
    color: $cg-400;
  }
  svg {
    width: 64px;
  }
}
.product_tab__content {
  margin-top: 120px;
}

.active_tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &::after {
    background: url(../../../assets/active-tab-img.svg);
    content: '';
    height: 18px;
    width: 32px;
    display: inline-block;
  }
  button {
    color: $primary;
    font-weight: 700;
  }
}
