.hero {
  background-image: url('../../assets/product-hero.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  height: 240px;
}
