@import '../../css/index.scss';

.banner {
  text-align: center;
  background-image: url('../../assets/product-create-banner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 80px;
  h1 {
    color: white;
    font: {
      size: 32px;
      weight: 700;
    }
  }
}
