@import '../../css/index.scss';

.detail-content {
  height: auto;
  &__title {
    font-size: 20px;
    color: $cg-700;
    margin-top: 80px;
    margin-bottom: 40px;
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid $secondary-light1;
  }
}
.detail-tab {
  // position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  border-bottom: 2px solid $secondary-light1;
  margin-top: 120px;
  margin-bottom: 16px;
  z-index: 10;
  button {
    color: $primary-light3;
    font: {
      size: 18px;
      weight: 700;
    }
    border: none;
    background-color: transparent;
    padding: 12px 24px;
    display: inline-block;
    cursor: pointer;
  }
}
.current-tab {
  color: $primary-dark1 !important;
}
