@import '../../css/index.scss';

.detail-page {
  margin-top: 80px;
}

.detail-main {
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  gap: 24px;
  img {
    width: 100%;
    max-height: 364px;
    object-fit: cover;
    border-radius: 8px;
  }
  &__content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  &__table {
    display: grid;
    grid-template-columns: 80px 1fr;
    h4 {
      color: $cg-600;
      font-size: 16px;
    }
    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    &-value {
      font-size: 18px;
      font: {
        size: 18px;
        weight: 700;
      }
      color: $primary-dark2;
      &-degree {
        font: {
          size: 14px;
        }
      }
    }
  }
  &__title {
    font-size: 24px;
    color: $cg-800;
    margin-top: 16px;
  }
  &__paragraph {
    font-size: 16px;
    color: $cg-600;
    line-height: 150%;
    margin-top: 16px;
  }
  &__price {
    font: {
      size: 32px;
      weight: 700;
    }
    color: $primary;
    &-wrap {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 16px;
      margin-top: 40px;
    }
    &-degree {
      font: {
        size: 18px;
        weight: 700;
      }
      color: $primary-light3;
      margin-left: 4px;
    }
  }
  &__discount {
    font: {
      size: 14px;
      weight: 700;
    }
    color: $cg-500;
    text-decoration: line-through;
  }
  &__purchase {
    display: flex;
    justify-content: flex-end;
  }
  &__notice {
    color: $red;
    display: flex;
    background-color: $red-opacity-down;
    align-items: center;
    gap: 12px;
    padding: 8px 16px;
    border-radius: 8px;
    span {
      display: flex;
    }
    font: {
      size: 16px;
      weight: 700;
    }
  }
  &__select-bar {
    border: 1px solid $cg-300;
    padding: 4px 12px;
    border-radius: 6px;
    color: $primary;
    font-size: 16px;
  }
  &__input {
    border: 1px solid $cg-300;
    padding: 4px 12px;
    border-radius: 6px;
    color: $primary;
    font-size: 16px;
  }
}
