/* 공용 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Pretendard Variable';
}

// 변수
$cg-900: #29333d;
$cg-800: #3d4d5c;
$cg-700: #52677a;
$cg-600: #668099;
$cg-400: #c2ccd6;
$primary-dark1: #934b0b;
$primary: #c2630f;
$primary-light1: #ee7b17;
$primary-light3: #f5b175;
$secondary: #b4974c;
$secondary-light1: #d2c093;
$red: #eb5757;

/* container */
.container {
  max-width: 1128px;
  margin: 0 auto;
}
.container--sm {
  max-width: 552px;
  margin: 0 auto;
}
.page-content__wrap {
  padding: 240px 0;
  &--sm {
    padding: 80px 0;
  }
}
.container__side-layout {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

// 버튼 설정
.general-btn--text {
  color: $cg-800;
  font: {
    size: 18px;
    weight: 400;
  }
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.general-btn--right-pictogram {
  display: flex;
  align-items: center;
  font: {
    size: 20px;
    weight: 400;
  }
}

.round-btn {
  background-color: $primary-light1;
  padding: 8px;
  border-radius: 50px;
  display: inline-block;
  outline: none;
  border: none;
  cursor: pointer;
  svg {
    display: block;
  }
  &--admin {
    background-color: $secondary;
  }
}

.cta-btn--block {
  background-color: $primary-light1;
  color: $cg-900;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  padding: 8px;
  cursor: pointer;
}
.cta-btn--block.admin {
  background-color: $secondary;
}

// 제목 및 글 폰트 설정
.page-content__title {
  font: {
    size: 32px;
    weight: 700;
  }
  margin-bottom: 80px;
  color: $cg-900;
  text-align: center;
  &--sm {
    font: {
      size: 24px;
      weight: 700;
    }
    color: $cg-800;
    margin-bottom: 32px;
  }
}
.page-content__paragraph {
  font: {
    size: 18px;
    weight: 400;
  }
  color: $cg-700;
  text-align: center;
}
.page-content__sub-title {
  font: {
    size: 24px;
    weight: 700;
  }
}

// form 설정
.post-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 40px;
  &__sub-text {
    display: flex;
    align-items: baseline;
    gap: 0 8px;
    border-left: 2px solid $primary;
    padding-left: 16px;
    h3 {
      font-size: 24px;
      color: $cg-700;
    }
    span {
      font-size: 14px;
      color: $cg-600;
    }
  }
  &__input-wrap {
    margin-top: 24px;
  }
}

.input__background {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}
.input-wrap--has-label {
  display: grid;
  grid-template-columns: 120px 1fr;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  input {
    border: 1px solid $primary-light3;
    font-size: 16px;
    padding: 8px;
    color: $cg-800;
    border-radius: 6px;
    font-family: 'Pretendard Variable';
    &::placeholder {
      color: $cg-400;
    }
    &:focus-visible {
      outline: none;
      border: 1px solid $primary-dark1;
    }
  }
}

.input-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.input--only-input {
  border: 1px solid $primary-light3;
  font-size: 16px;
  padding: 8px;
  color: $cg-800;
  border-radius: 6px;
  font-family: 'Pretendard Variable';
  &::placeholder {
    color: $cg-400;
  }
  &:focus-visible {
    outline: none;
    border: 1px solid $primary-dark1;
  }
}
.input--only-input.admin {
  border: 1px solid $secondary-light1;
}

.product_item {
  display: flex;
}
.input-wrap--include-label {
  display: grid;
  grid-template-columns: 160px 1fr;
  label {
    margin-top: 4px;
  }
}

//안내 문구
.notice {
  display: flex;
  justify-content: center;
  &__text {
    font: {
      size: 14px;
      weight: 400;
    }
    color: $red;
  }
}
