// 변수
$cg-800: #3d4d5c;
$cg-600: #668099;
$cg-400: #c2ccd6;
$primary-light1: #ee7b17;
$primary-dark1: #934b0b;

.header {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
}
.nav {
  display: flex;
  gap: 80px;
  &__menu {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  &__auth {
    display: flex;
    gap: 8px;
    align-items: center;
  }
}
.divider {
  font: {
    size: 16px;
    weight: 700;
  }
  color: $primary-light1;
}

//admin 헤더
.admin_header_notice {
  display: flex;
  justify-content: center;
  background-color: $cg-400;
  color: $cg-800;
  font-size: 18px;
}
