// 변수
$cg-900: #29333d;
$cg-800: #3d4d5c;
$cg-700: #52677a;
$cg-600: #668099;
$cg-500: #a3b3c2;
$cg-400: #c2ccd6;
$cg-300: #e1e6eb;
$cg-200: #f3f5f7;
$primary-dark2: #643207;
$primary-dark1: #934b0b;
$primary: #c2630f;
$primary-light1: #ee7b17;
$primary-light2: #f19646;
$primary-light3: #f5b175;
$primary-light4: #fce7d4;
$secondary: #b4974c;
$secondary-light1: #d2c093;
$secondary-light2: #f0eadb;
$secondary-dark1: #6c5a2d;
$red: #eb5757;
$red-opacity-down: rgba(235, 87, 87, 0.05);
