@import '../../css/index.scss';

.footer {
  background-color: $cg-200;
  padding: 40px 0;
  margin-top: 240px;
  &__content {
    font: {
      size: 14px;
      weight: 400;
    }
    color: $cg-600;
    margin-top: 24px;
  }
  &__notice {
    text-align: center;
  }
}
