@import '../../../css/index.scss';

.form-back {
  background-color: $secondary-light2;
  padding: 40px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}

.delete-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notice-text {
  color: $cg-600;
  font-size: 16px;
}
