@import '../../css/index.scss';

.footer {
  background-color: $cg-200;
  padding: 40px 0;
  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
    font: {
      size: 14px;
      weight: 400;
    }
    color: $cg-600;
  }
}
